@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

html, body, #root, .app {
	height: 100%;
	width: 100%;
	font-family: "Outfit", sans-serif;

	@apply text-white;
}
